/* globale rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
.flexgroup{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

.speation-heading{
    text-align: center;
    line-height: .6;
    text-transform: capitalize;
}
.spacial-title{
    color: var(--three-color);
    opacity: .4;
    font-size: 100px;
}
.spation-parag{
    color: var(--primary-color);
}

@media (max-width:500px) {
    .spacial-title{
        font-size: 80px;
    }
}
 /* `sm` applies to x-small devices (portrait phones, less than 576px) */ 
@media (min-width:768px) {
    .container{
        width: 750px;
    }

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width:992px) {
    .container{
        width: 970px;
    }

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }

}
/*// globale rules */
/* Variable */
:root{
    --main-color: #2BCAB7;
    --secendary-color:#eee;
    --primary-color:#333;
    --three-color:#777;

    --section-padding:60px;
}
/* //Variable */
body{
    font-family: 'Work Sans', sans-serif;
}

/* header */
.header{
    padding: 20px;
}
.header .container{
    justify-content: space-between;
}
.logo{
    width: 80px;
}
.menu{
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.menu:is(:hover,:focus) span:nth-child(2){
    width: 100%;
}
.icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.icon span{
    height: 3px;
    background-color:  var(--main-color);
    margin-bottom: 5px;

}
.icon span:first-child{
    width: 100%;
}
.icon span:nth-child(2){
    width: 60%;
    transition: .3s width;
}
.icon span:last-child{
    width: 100%;
}
.menu ul {
    list-style: none;
    display: none;
    background-color: var(--secendary-color);
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    min-width: 200px;
}
.menu:is(:hover,:focus) ul{
    display: block;
}
.menu ul::before{
    content: '';
    border:10px solid ;
    border-color: transparent transparent var(--secendary-color) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    text-transform: capitalize;
    padding: 15px;
    transition: .3s padding-left;
}
.menu ul li a:is(:hover,:focus){
    padding-left: 25px;
}
.menu ul li:not(:last-child){
    border-bottom: 1px solid #dDd;
}
/*// header */

/* landing */
.landing{
    background-image: url(../img/engin-akyurt-EiIO1cap8jo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 72px);
    position: relative;
}
.landing .title-quote{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    backdrop-filter: blur(2px);
    height: 105px;
    width: 100%;
    padding: 20px;
}
.landing .title-quote h1{
    margin: 0;
    color: var(--main-color);
    font-size: 50px;
}
.landing .title-quote p{
    color: var(--secendary-color);
}
/*// landing */

/* featurs*/
.featurs{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secendary-color);
}
.featurs .container{
    text-align: center;
    gap: 10px;
    line-height: 1.8;
}
.featurs .container i{
    font-size: 45px;
    color: var(--main-color);
    padding-bottom: 25px;
}
.featurs .container h2{
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    color: var(--primary-color);
}
.featurs .container p{
    color: var(--three-color) ;
    font-size: 15px;
    opacity: .7;
}
/*// featurs*/

/*  service*/
.service{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.myService{
    align-items: flex-start;
    line-height: 1.7;
    gap: 20px;
    margin-top: 80px;
}
.s-card{
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}
@media (max-width:767px) {
    .s-card{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
}
.myService .s-card i{
    font-size: 25px;
    color: var(--main-color);
}
.myService .s-card .card-name{
    margin: 0 0 20px;
    color: var(--primary-color);
}
.myService .s-card .desc-card{
    color: var(--three-color);
    font-weight: 300;
}

.card-name {
    margin-bottom: 10px;
}
.image{
    position: relative;
    width: 250px;
}
.image img{
    width: 200px;
}
.image::before{
    content: "";
    position: absolute;
    height: calc(100% + 100px);
    width: 85px;
    top: -58px;
    background-color: var(--three-color);
    opacity: .4;
    right: 25px;
    opacity: .7;
    z-index: -1;
    
}
@media (max-width:1000px) {
    .image {
        display: none;
    }

}
/*//  service*/

/* portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secendary-color);
}
.card-project  {
    margin-top: 80px;
    gap: 30px;
}
.project img{
    width: 100%;
}
.project{
    background-color: #fff;
}
.project .contant{
    padding: 20px;
}
.project .contant .project_title{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
/*// portfolio */

/* about */
.about{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about_content{
    gap: 30px;
    padding-top: 60px;
    align-items: flex-start;
}
.image-done{
    width: 2500px;
    position: relative;
}
.image-done::after{
    content: "";
    height: 52%;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    position: absolute;
    width: 85px;
    top: -17px;
    right: -96px;
    z-index: -1;
}
.image-done::before{
    content: "";
    position: absolute;
    height: calc(100% + 100px);
    width: 72px;
    top: -58px;
    background-color: var(--three-color);
    opacity: .4;
    left: -20px;
    z-index: -1;
}
.about_content .text{
    padding-left: 100px;
}
.about_content .image-done img{
    width: 100%;
}

@media (max-width:1000px) {
    .about_content .image-done{
        display: none;
    }
    .about_content .text{
        padding: 0;
    }

}
.about_content .text hr{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: var(--main-color);
}
.about_content .text .text_info{
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 600;
}
.about_content .text .text_desc{
    font-size: 12px;
    color: var(--three-color);
    font-weight: 400;
}
/*// about */
/* contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--secendary-color);
}
.contact_content{
    margin-top: 95px;
}
.contact_content .contact_title{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 10px;
    color: var(--primary-color);
}
.contact_content .contact_email {
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 10px;
    margin-left: 40px;
}
.contact_content .contact_email a{
    color: var(--main-color);
}
.contact_content .contact_icone {
    font-weight: 400;
    font-size: 16px;
    color: var(--three-color);
    margin-left: 80px;
}
.find_us{
    display: inline-block;
}

.social_icone{
    display: inline-block;
}
.social_icone i{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 25.5px;
    cursor: pointer;
}
.social_icone i:is(:hover,:focus){
    color: var(--main-color);
}
a{
    list-style: none;
    text-decoration: none;
}
@media (max-width:500px) {
    .contact_content{
        text-align: center;
    }
    .contact_content .contact_title{
        font-size: 25px;
    }
    .contact .contact_email{
        font-size: 25px;
        margin: 0;
    }
    .find_us{
        display: none;
    }
    .contact_content .contact_icone{
        margin: 0;
    }
}
/*// contact*/

/* footer */
.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--primary-color);
}
.footer .copyrith {
    color: var(--secendary-color);
    text-align: center;
    text-transform: capitalize;
}
/*// footer */


/* ===============================================================  */
/* ===========================DONE================================  */
/* ===============================================================  */